.titl {
  text-align: left;
  font: normal normal 600 14px/17px Open Sans;
  letter-spacing: 1.4px;
  color: #353535;
  opacity: 1;
  margin-top: 30px;
}

.card-text {
  text-align: center;
  font: normal normal 600 14px/13px Open Sans;
  letter-spacing: 0.72px;
  color: #353535;
  opacity: 1;
}

.card .amt {
  text-align: center;
  font: normal normal 600 26px/14px Open Sans;
  letter-spacing: 1.44px;
  color: #F79421;
  opacity: 1;
  margin-top: 50px;
  margin-left: 250px;
  height: 35px;

}

.row .card .card-body .break {
  display: none;
}

.bi-credit-card {
  margin: 10px;
}


.card .amt span {

  font: normal normal 600 28px/15px Open Sans;
  letter-spacing: 1.44px;
  color: #353535;
  opacity: 1;
  /* margin-right:25px;
    margin-left:-60px;*/
}

.mode {
  text-align: center;
  font: normal normal 600 14px/13px Open Sans;
  letter-spacing: 0.72px;
  color: #353535;
  opacity: 1;
  margin-top: 50px;
}


.pay {
  width: 120px;
  height: 80px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 3px solid #EEEEEE;
  border-radius: 20px;
  opacity: 1;
  margin-left: 0px;

}

.pay .fa {
  background: transparent;
  color: #EEEEEE;
  font-size: 30px;
  padding: 20px;
}

.last {
  height: 40px;
  background: #F79421 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  font: normal normal 600 12px/13px Open Sans;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 50px;
  margin-left: 285px;
  padding: 13px;
  border: none;
}


input {
  margin-left: 50px;
  margin-top: 10px;
  height: 25px;
  width: 20vw !important;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #F79421;
  border-radius: 0px;
  font: normal normal normal 14px/24px Open Sans;
  font-color: #AAAAAA;
}

/*.img1{
    margin:10px;
    margin-left: 5px;
}
.img2{
    margin:10px;
}
.img3{
    margin:10px;
}*/

.pay span {
  font: normal normal 600 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #353535;
  opacity: 1;
}

.button1 .btn-primary:hover {
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 3px solid #EEEEEE;
  border-radius: 20px;
  opacity: 1;
}

.button1 .btn-primary:focus,
.button1 .btn-primary:active {
  border: 3px solid #F79421 !important;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0px 3px 6px #00000029 !important;
  background-color: transparent !important;

}

#row1 .btn-primary:hover {
  background: #FFA931 0% 0% no-repeat padding-box;

}

#row1 .btn-primary:focus,
#row1 .btn-primary:active {
  opacity: 1;
  box-shadow: 0px 3px 6px #00000029 !important;
  background-color: #F79421 !important;

}

#icon1 {
  margin-left: -13px;
  margin-top: 0px;
  font-size: 5px;
}

.icon {
  margin: 10px;
}

.btn-primary:focus .icon,
.btn-primary:active .icon {
  fill: #F79421;
}

.payment {
  margin-left: 300px;
}

.button1 {
  margin-left: 40px;
}


/*---------------MEDIA QUERIES -----------------*/

@media only screen and (max-width: 550px) {
  .row .card .card-body .break {
    display: block;
  }

  .row .card .card-body .row .card-text {
    margin-left: auto;
  }

  .row .card .card-body .row .amt {
    margin-left: auto;
  }

  .row .card .card-body .payment {
    margin-left: 60px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .row .card .card-body .payment .col {
    margin-bottom: 60px;
  }

  input {
    width: 30vw !important;
  }

  #row1 {
    margin-left: -300px;
  }

}