/* -----CSS FOR TABS -----*/

.borderless td {
  border: none;
}
.borderless th {
  border-bottom: 1px solid #C6C7C8;
}

.text{
  font: normal normal 600 12px/18px Open Sans;
  letter-spacing: 1.4px;
  color: #353535;
  opacity: 1;
  text-transform: uppercase;
}

.nav-tabs .nav-link {
  border: 10px;

}

#myTab .nav-tabs .nav-link:hover {
  color: #F79421;
}

#myTab a {
  color: #AAAAAA;
  text-decoration: None;
  background: None;
}

.nav-link.active {
  color: #F79421;
  border-color: #F79421;
}

.nav-tabs .nav-link.active {
  border-bottom: 3px solid #F79421;
  ;
  border-radius: 0px;
  color: #F79421;
}

#myTab .nav-link {
  text-align: left;
  font: normal normal bold 14px/15px Open Sans;
  letter-spacing: 1.8px;
  color: #AAAAAA;
  text-transform: uppercase;
  opacity: 1;
}

/* ---------CSS FOR CARD1 --------------*/
.card1 {
  margin-top: 60px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 20px;
  opacity: 1;
  height: 130px;
  width: 60vw;
}

span .break {
  display: None;
}

.card1 .far {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 6px;
  font-size: 15px;
  color: #58B4AE;
  margin-right: 6px;

}

.card1 .btn-primary {
  background: #58B4AE;
  border: None;
  border-radius: 24px;
  opacity: 1;
  padding: 5px;
  /* margin-left: 10px; */
  text-align: right;
  font: normal normal 600 13px/15px Open Sans;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  /* margin-left: 300px; */


}

.card1 span {
  font: normal normal 600 20px/17px Open Sans;
  letter-spacing: 0.96px;
  color: #353535;
  opacity: 1;
  margin-left: 20px;
}

i {
  font: normal normal 600 20px/17px Open Sans;
  letter-spacing: 0.96px;
  color: #353535;
  opacity: 1;
}

.logoimg {
  /* margin-top: 30px; */
}

.card1 .btn-primary:hover {
  background: #58B4AE;
  border: None;
}

.card1 .btn-primary:focus {
  background: #58B4AE;
  border: None;
}

.card1 .top {
  width: 160px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -38px;
  margin-left: 35px;

}

.card1 .top .h6 {
  text-align: center;
  font: normal normal 600 10px/12px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 6;
  padding: 8px;
}

.card1 .logoimg .img1 {
  margin-left: 30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 23px;
  height: 45px;
  width: 45px;

}

/* ------CSS FOR CARD2 ------*/
.card2 {
  height: auto;
  margin-top: 50px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 20px;
  opacity: 1;
}

.list-group-item {
  background: none;
  border: none;
}



.card2 #lst1 {
  text-align: center;
  font: normal normal 600 20px/10px Open Sans;
  letter-spacing: 2.8px;
  color: #353535;
  opacity: 1;
  margin-top: 35px;
}

.card2 #lst2 {
  text-align: center;
  font: normal normal 600 12px/18px Open Sans;
  letter-spacing: 1.4px;
  color: #353535;
  opacity: 1;
  text-transform: uppercase;
}

.card2 .small {
  width: 150px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-left: 40px;
  margin-top: -40px;
}

.card2 .small .exp {
  text-align: center;
  font: normal normal 600 10px/12px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

/*-----CSS FOR CARD3 ------*/
.card3 {
  height: auto;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 20px;
  opacity: 1;
  margin-top: 50px;
  margin-left: 75px;

}

.card3 #lst3 {
  text-align: center;
  font: normal normal 600 20px/10px Open Sans;
  letter-spacing: 2.8px;
  color: #353535;
  opacity: 1;
  margin-top: 35px;
}

.card3 #lst4 {
  text-align: center;
  font: normal normal 600 12px/18px Open Sans;
  letter-spacing: 1.4px;
  color: #353535;
  opacity: 1;
  text-transform: uppercase;
}

.card3 .small1 {
  width: 150px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-left: 40px;
  margin-top: -40px;
}

.card3 .small1 .exp1 {
  text-align: center;
  font: normal normal 600 10px/12px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

.card3 .top1 {
  width: 200px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -315px;
  margin-left: 35px;
}

/*----------ENTERPRISE--------*/
/*-------CARD4------------*/

.card4 {
  height: auto;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 15px;
  opacity: 1;
  margin-top: 40px;
}

.card4 .top2 {
  width: 200px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -35px;
  margin-left: 10px;
}

.top2 .card-body {
  text-align: center;
  font: normal normal 600 12px/14px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

.card4 .logoimg .img1 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 23px;
  height: 45px;
  width: 45px;
}

.card4 span {
  text-align: left;
  font: normal normal 600 20px/17px Open Sans;
  letter-spacing: 0.96px;
  color: #353535;
  opacity: 1;
  margin-left: 20px;
}

.card4 .name {
  text-align: left;
  font: normal normal 600 24px/17px Open Sans;
  letter-spacing: 0.96px;
  color: #353535;
  opacity: 1;
  margin-top: -30px;
  margin-left: 85px;
}

.card4 .name .break {
  display: none;
}

.card4 .mcr {
  background: #38CC47 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 8px;
  text-align: left;
  font: normal normal 600 14px/15px Open Sans;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 180px;
  margin-left: 25px;
  margin-top: 40px;
}

.card4 .mcr .fa {
  margin-left: 10px;
}

.card4 .des {
  text-align: left;
  font: normal normal 600 15px/30px Open Sans;
  letter-spacing: 0px;
  color: #353535;
  opacity: 1;
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 20px;
}

/*----2nd card(mcred opinion)    CSS FOR CARD5 */
.top3 {
  width: 200px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -35px;
  margin-left: 10px;
}

.card5 {
  height: auto;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 15px;
  opacity: 1;
  margin-top: 40px;
}

.top3 .card-body {
  text-align: center;
  font: normal normal 600 12px/14px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

.card5 .mcr {
  background: #38CC47 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 8px;
  text-align: left;
  font: normal normal 600 14px/15px Open Sans;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 180px;
  margin-left: 25px;
  margin-top: 40px;
}

.card5 .mcr .fa {
  margin-left: 10px;
}


.card5 .des {
  text-align: left;
  font: normal normal 600 15px/30px Open Sans;
  letter-spacing: 0px;
  color: #353535;
  opacity: 1;
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 20px;
}

/*CSS FOR SECTOR*/

.list-group-item {
  border: None;
  background: None;
}

.card5 .list .li1 {
  text-align: left;
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  opacity: 1;
}

.card5 .list .li2 {
  text-align: right;
  font: normal normal 600 14px/22px Open Sans;
  letter-spacing: 0.72px;
  color: #363636;
  opacity: 1;
}

.card5 .list .li3 {
  text-align: left;
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  opacity: 1;
}

.card5 .list .li4 {
  text-align: left;
  font: normal normal 600 14px/22px Open Sans;
  letter-spacing: 0.64px;
  color: #353535;
  opacity: 1;
}

/*2nd card(mcred history)*/
.card6 .top4 {
  width: 200px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -35px;
  margin-left: 5px;
}

.card6 {
  height: auto;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 2px solid #EEEEEE;
  border-radius: 15px;
  opacity: 1;
  margin-top: 40px;
}

.card6 .top4 .card-body {
  text-align: center;
  font: normal normal 600 12px/14px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;

}

.card6 .mcr {
  background: #38CC47 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 8px;
  text-align: left;
  font: normal normal 600 14px/15px Open Sans;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 180px;
  margin-left: 25px;
  margin-top: 40px;
}

.card6 .mcr .fa {
  margin-left: 10px;
}

.card6 .des {
  text-align: left;
  font: normal normal 600 15px/30px Open Sans;
  letter-spacing: 0px;
  color: #353535;
  opacity: 1;
  margin-left: 25px;
  margin-right: 0px;
  width: auto;
  margin-top: 20px;
}

/* -------------CSS FOR VENDOR -------*/
.top5 {
  width: 200px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
  margin-top: -95px;
  margin-left: 5px;
}

#card7 .top5 .card-body {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

.top5 .card-body {
  text-align: center;
  font: normal normal 600 12px/14px Open Sans;
  letter-spacing: 1.6px;
  color: #353535;
  text-transform: uppercase;
  opacity: 6;
  padding: 10px;

}

/*---------- MEDIA QUERIES ------*/
@media only screen and (max-width: 500px) {
  .card3 .card-body .break-this {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  .card1 {
    height: auto;
  }

  .list-group-item .break {
    display: block;
  }

  .card1 span .btn-primary {
    margin-left: auto;
  }

  .card1 #one {
    margin-left: 100px;
  }

  .card1 span .btn-primary {
    margin-left: 100px;
    margin-top: 20px;
  }

  .card3 {
    margin-left: 0px;
    ;
  }

  .card3 .card-body .break-this {
    display: block;
  }

  .card4 {
    margin-top: -250px;
  }

  hr {
    width: 300px;
    margin-left: -10px;
  }

  /* enterprise */

}