.container-fluid .card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    opacity: 1;
}

.container-fluid .titl{
    text-align: left;
    font: normal normal 600 14px/17px Open Sans;
    letter-spacing: 1.4px;
    color: #353535;
    opacity: 1;
}

.container-fluid .card-header{
    font: normal normal 600 18px/17px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    text-transform: capitalize;
    opacity: 1;
    margin-left:-13px;
    margin-right:-13px;
    height:50px;
    padding-top:20px;
}

.container-fluid #card1 .list-group-item{
    margin-top:23px;
    border:none;
}

.container-fluid #card1 .li1{
    font: normal normal 600 18px/20px Open Sans;
    letter-spacing: 0.96px;
    color: #363636;
    opacity: 1;
}

.container-fluid #card1 .li2,.li3{
    text-align: left;
    font: normal normal 600 14px/18px Open Sans;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
}

/* -------TABLE TWO ----------*/
.container-fluid #card2 .list-group-item{
    border:none;
    text-align: left;
    font: normal normal 600 14px/15px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    text-transform: capitalize;
    opacity: 1;
    margin-top:10px;
}

.container-fluid #card2 .btn-primary{
    text-align: center;
    font: normal normal 600 12px/13px Open Sans;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background: #F79421 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    border:none;
    width:300px;
}

.container-fluid #card2 .btn-primary:hover{
    background-color:#FFA931;
 }
 .container-fluid #card2 .btn-primary:focus{
    background-color:transparent;
    border-color:#F79421;
    border:2px solid #F79421;
    color:#F79421;
 }

/*-------------CSS FOR TRANSACTION TABLE------------*/
.container-fluid #card3 .card-title{
    text-align: left;
    font: normal normal 600 24px/17px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
    margin-top:10px;
}

.container-fluid #card3 .table{
    margin-top:30px;
}

.container-fluid #card3 .table .headt{
    text-align: left;
    font: normal normal 600 18px/17px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
    background: #EFF3FA 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.container-fluid #card3 .table thead th{
    border-bottom:none;
    padding:20px;
    text-align: left;
    font: normal normal 600 18px/17px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
    margin-left:10px;
}

.container-fluid #card3 .table tbody tr td{
    text-align: left;
    font: normal normal 600 14px/15px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
    padding-top:25px;
}
.container-fluid #card3 .table tbody tr td span{
    text-align: left;
    font: normal normal bold 16px/15px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
}

.container-fluid #card3 .table tbody tr td .s{
    text-align: left;
    font: normal normal normal 14px/15px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
}

/*--------------- MEDIA QUERIES -----------------*/

@media only screen and (max-width: 550px){
    #card2{
        margin-left:3px;
        margin-top:30px;
    }

    .container-fluid #card2 .btn-primary{
        width:168px;
        height:40px;
    }

    .date{
        width:400px;
    }

}