.titl {
  text-align: left;
  font: normal normal 600 14px/17px Open Sans;
  letter-spacing: 1.4px;
  color: #353535;
}

.bi-check-circle-fill {
  margin-right: 10px;
  margin-top: -3px;
}

.deal {
  font: normal normal 600 30px/30px Open Sans;
  letter-spacing: 0px;
  color: #353535;
}

.btn-primary {
  text-align: center;
  font: normal normal 600 12px/15px Open Sans;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  background: #F79421 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border: none;
  /* width: 20vw;
  height: 7vh; */
  padding: 2vh 2vw;
  margin-bottom: 2vh;
}

.btn-primary:hover {
  background-color: #FFA931;
}

.btn-primary:focus {
  background-color: transparent;
  border-color: #F79421;
  border: 2px solid #F79421;
  color: #F79421;
  box-shadow: none;
}

select {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding: 5px 5px;
  font: normal normal normal 14px/20px Open Sans;
  letter-spacing: 0.64px;
  color: #363636;
}

/* -----CSS FOR TABS -----*/

/* .nav-link .bi-check-circle-fill {
  margin-right: 10px;
  margin-top: -3px;
} */

.nav-tabs .nav-link {
  border: none;
  border-bottom: 3px solid #CCCCCC;
  text-align: center;
}

.nav-tabs {
  border: none;
}

#myTab .nav-tabs .nav-link:hover {
  color: #F79421;

}

#myTab a {
  color: #AAAAAA;
  text-decoration: None;
  background: None;
}

#myTab a.active {
  color: #38CC47;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid #38CC47;
  border-radius: 0px;
  color: #38CC47;
}

#myTab .nav-link {
  text-align: left;
  font: normal normal 600 16px/17px Open Sans;
  letter-spacing: 1.6px;
  color: #AAAAAA;
  text-transform: uppercase;
}

.card1 .logoimg .img1 {
  margin-left: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 23px;
  height: 45px;
  width: 45px;
}

.card1 {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-bottom: 3vh;
}

.card1 .logoimg .img1 {
  margin-left: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 23px;
  height: 45px;
  width: 45px;
}

.card1 .text {
  font: normal normal 600 14px/13px Open Sans;
  letter-spacing: 0.72px;
  color: #353535;
  text-transform: uppercase;
  margin-top: 1vh;
}

.card1 .text1 {
  text-align: left;
  font: normal normal 600 13px/15px Open Sans;
  letter-spacing: 0.72px;
  color: #353535;
  text-transform: capitalize;
}



.card1 .btn1-primary {
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 12px/15px Open Sans;
  letter-spacing: 1.6px;
  color: #F79421;
  text-transform: capitalize;
  background-color: transparent;
  border-color: #F79421;
  border: 2px solid #F79421;
  box-shadow: 0px 3px 6px #00000029;
  width: auto;
  padding: 1vh 1vw;

  /* margin-left: 3vw; */
}

.container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center */
}


.image {
  flex-basis: 40%
}


#buttons {
  text-align: end !important;
  margin-bottom: 2vh !important;
}

.li1 {
  text-align: center;
  font: normal normal normal 12px/13px Open Sans;
  letter-spacing: 0.64px;
  color: #353535;
  opacity: 1;
  text-transform: uppercase;
}

.li2 {
  text-align: center;
  font: normal normal bold 12px/13px Open Sans;
  letter-spacing: 0.64px;
  color: #353535;
  opacity: 1;
  margin-top: 10px;
}

.card1 .card2 {
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.pdfsize {
  /* text-align: center; */
  font: normal normal normal 16px/17px Open Sans;
  letter-spacing: 0.64px;
  color: #0092FF;
  opacity: 1;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  padding: 20px;
}


/* PROGRESS BAR */
.one,
.two,
.three,
.four {
  position: absolute;
  margin-top: -5px;
  z-index: 1;
  height: 20px;
  width: 20px;
  border-radius: 25px;
}

.one {
  left: 3%;
}

.two {
  left: 31%;
}

.three {
  left: 63%;
}

.four {
  left: 93%;
}

.progress {
  width: 95%;
  height: 10px;
}


.success-color::before {
  /* content: url('tick.png'); */
  /* color:white; */
}

.progress-bar {
  background-color: #5cb85c !important;

}

.success-color {
  background-color: #5cb85c !important;
  /* background-color: #85c; */
  content: "a"
}






@media screen and (max-width: 768px) {
  .btn-primary {
    width: 40vw;
    height: 7vh;
  }

  .card1 .text {
    text-align: center !important;
  }

  #buttons {
    text-align: center !important;
  }

  .card2 {
    width: 70vw !important;
    margin-left: 5vw !important;
    /* margin-right: 5vw !important; */
  }

.one {
  left: 3%;
}

.two {
  left: 25%;
}

.three {
  left: 63%;
}

.four {
  left: 83%;
}

.progress {
  width: 97%;
}

#milestones{
  text-align: center !important;
}
}

.rotate{
  -moz-transition: all 2s linear !important;
  -webkit-transition: all 2s linear !important;
  transition: all 2s linear !important;
  color: #F79421 ;
}

.rotate.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}