<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MCRED</title>
  <meta content="Mcred's invoice discounting solution helps large, medium & small businesses in their cash flow management thereby catalysing business growth." name="description">
  <meta content="finance, financing, working capital, bills discounting, MSMEs, invoice finance" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/images/portalLogin/home/MCRED@2x.png' %}" rel="icon">
  <link href="{% static '/images/portalLogin/home/MCRED@2x.png' %}" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static '/css/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/PortalLogin/business.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mamba - v4.0.2
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="far fa-envelope" style="color:#353535"></i><a href="connect@mcred.com">connect@mcred.com</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg><span>797-7172-123</span>
      </div>
      <div class="social-links d-none d-md-block">
        <a target="_blank" class="instagram" href="https://www.instagram.com/mcre.d/"><i class="fab fa-instagram"></i></a>
        <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/mcred/"><i class="fab fa-linkedin-in"></i></a>
        <a class="facebook" target="_blank" href="https://www.facebook.com/MCRED-102965945034452"><i class="fab fa-facebook-f"></i></a>
        <a class="twitter" target="_blank" href="https://twitter.com/Mcred59369762"><i class="fab fa-twitter"></i></i></a>
        <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UC33RpFwzAndn3CCJr83jUbw?guided_help_flow=5"><i class="fab fa-youtube"></i></a >
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <a href="/home"  class="logo mr-auto"><img src="{% static '/images/portalLogin/home/MCRED1.png'%}" alt=""></a>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar ">
        <ul>
          <li><a class="nav-link " href="{% url 'index1' %}">Home</a></li>
          <li><a class="nav-link active" href="\">Business</a></li>
          <li><a class="nav-link " href="{% url 'mcred_investor' %}">Investor</a></li>
          <li><a class="nav-link " href="{% url 'mcred_partner' %}">Partner</a></li>
          <li><a class="nav-link " href="{% url 'mcred_aboutus' %}">About Us</a></li>
          <li><a class="nav-link " href="{% url 'mcred_blogs' %}">Blogs</a></li>
          <li><a class="nav-link " href="{% url 'mcred_login' %}">Login</a></li>

        </ul>
        <button class="btn-get-started"><a href="{% url 'mcred_signup' %}">Sign Up</a></button>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="business" class="banner-section" style="background-image: url('/static/images/portalLogin/Business-Page/landing-page/bussi-02.png');" >
        <div class="overlay"></div>
        <div class="bussiness-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <div class="banner-details">
                            <h2 class="animate__animated animate__fadeInDown">Business</h2>
                            <p class="animate__animated animate__fadeInUp">
                                MCred’s invoice discounting solution allows businesses to leverage the power <br>
                                of discounting and realize the potential of cash flow in the supply chain. It <br>
                                provides the quick access to funds through a completely digital process.
                                <br><br>It is an off-balance-sheet solution for SMEs to avail funds against the unpaid <br> invoices thereby fuelling growth.
                            </p>
                        </div>
                    </div>

                   <div class="col-sm-12 col-md-5" >
                        <div class="McredBanner-From">
                            <div class="Mcredbanner-section " >
                                <form method="post" action="{% url 'mcred_business' %}"  role="form"  id="business_signupform" novalidate="novalidate">
                                    {% csrf_token %}
                                    <input value="business" name="UserTypeId" type="hidden">
                                    <div class="form-row">
                                    <div class="form-group mred-group">
                                        <div class="col form-group mred-group">
                                            <label class="mred-lable-inp">Name</label>
                                            <input type="text" name="FullName" class="form-control Mred-input fullname" placeholder="Enter Full Name">
                                            <span for="FullName" class="validate text-danger"></span>
                                        </div>
                                        <div class="form-group mred-group">
                                            <label class="mred-lable-inp">Email Id</label>
                                            <input type="email" name="Email" class="form-control Mred-input email" placeholder="Enter Email Id">
                                            <span for="Email" class="validate text-danger"></span>
                                        </div>
                                        <div class="form-group mred-group">
                                            <label class="mred-lable-inp">Mobile Number</label>
                                            <input type="tel" name="mob" class="form-control Mred-input mobile" placeholder="Enter Mobile No.">
                                            <span for="mob" class="validate text-danger"></span>
                                        </div>
                                        <div class="form-group mred-group">
                                            <label class="mred-lable-inp">Company Name</label>
                                            <input type="text" name="company" class="form-control Mred-input company" placeholder="Enter Company">
                                            <span for="company" class="validate text-danger"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group mred-group01">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" name="terms" data-error="#errTerms">
                                                            <span class="SetCheckBoxItem">
                                                                I have read &amp; agree to
                                                                the <a href="{% url 'mcred_terms_conditions' %}" style="color:#F79421;">
                                                                    Terms &amp;
                                                                    Conditions
                                                                </a> and <a href="{% url 'mcred_privacy_policy' %}" style="color:#F79421;">Privacy Policy</a> of
                                                                MCred.<span style="color:red">*</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div id="errTerms" style="display: block;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="validate text-danger validation-summary"></span>
                                            <input type="submit" value="SUBMIT" class="Mred-submit-btn">
                                        </div>
                                    </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                   </div>
                </div>

            </div>

        </div>
  </section>

<!--  FEATURE SECTION -->
  <section class="features-section" id="features">
        <div class="container " data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Features</h2>
                <p class="text-center">Reduced working capital cycle, improved cash efficiency &amp; Unlock Growth</p>
            </div>
            <div class="row" style="padding-top: 15px; padding-bottom: 30px;border-bottom: 1px solid #e9ecef;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/quick_disbursal.svg' %}"></div>

                <p class="whymcredtitle-1">Quick Disbursal</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">Funds available within 48* hours</p>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-md-0 " data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/no_collateral.svg' %}"></div>

                <p class="whymcredtitle-1">Collateral Free</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">Frictionless growth without any collateral</p>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-lg-0 " data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/balance_sheet.svg' %}"></div>

                <p class="whymcredtitle-1">Off Balance Sheet</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">No impact on financial ratios, stronger balance sheet</p>
                </div>
                </div>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/easy_onboarding.svg' %}"></div>

                <p class="whymcredtitle-1">Easy Onboarding Process</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">Digital process, easy on boarding at click of a button</p>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-md-0 " data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/financing.svg' %}"></div>

                <p class="whymcredtitle-1">Financing Against Invoices</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">Complete suite from listing to financing</p>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-lg-0 " data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box-1">
                <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/transparent-process.svg' %}"></div>

                <p class="whymcredtitle-1">Transparent Process</p>

                <div class="arrow-line"></div>

                <p class="whymcredtitle-2">Technology enabled analysis and process</p>
                </div>
                </div>
                </div>
        </div>
  </section>
  <section class="why-us whyusSection" id="why-us"  style="background-image: url('/static/images/portalLogin/Business-Page/service.png');">
        <div class="sectionTitleSize">
            <div class="section-title text-center">
            <h2>How It Works?</h2>
            </div>

        <div class="container " data-aos="fade-up">
        <div class="Mred-work row">
        <div class=" mcred-work-group">
            <div class="round-set"><span>1</span></div>

            <div class="mcred-work-group-detail">
            <h2>Sign Up</h2>

            <p>Register on platform, provide details</p>
            </div>
        </div>

        <div class="mcred-work-group">
        <div class="round-set"><span>2</span></div>

        <div class="mcred-work-group-detail">
        <h2>Onboarding</h2>

        <p>Business is approved post analysis</p>
        </div>
        </div>

        <div class="mcred-work-group">
        <div class="round-set"><span>3</span></div>

        <div class="mcred-work-group-detail">
        <h2>Invoice Listing</h2>

        <p>List invoices on the platform</p>
        </div>
        </div>

        <div class="mcred-work-group">
        <div class="round-set"><span>4</span></div>

        <div class="mcred-work-group-detail">
        <h2>Invoice Financing</h2>

        <p>Invoice financed by the investors and funds disbursed</p>
        </div>
        </div>
        </div>
        </div>
        </div>
</section>

  <section class="services" id="services">
        <div class="container " data-aos="fade-up">
        <div class="section-title text-center">
        <h2>Why MCred?</h2>
        </div>

        <div class="row" style="padding-top: 15px; padding-bottom: 30px;border-bottom: 1px solid #e9ecef;">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/easy_onboarding.svg' %}"></div>

        <p class="whymcredtitle-1">Quick &amp; Easy Onboarding</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">Complete journey from analysis to disbursement completed in less than 48* Hours</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-md-0 " data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/business_growth.svg' %}"></div>

        <p class="whymcredtitle-1">Business Growth</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">No geographical barriers, gain access to funds from wide pool of investors</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 d-flex align-items-stretch mt-lg-0 aos-animate" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/working_capital.svg' %}"></div>

        <p class="whymcredtitle-1">Efficient Working Capital</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">In time access to funds, improved cash management</p>
        </div>
        </div>
        </div>

        <div class="row" style="padding-top: 30px;">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/updates.svg' %}"></div>

        <p class="whymcredtitle-1">Real Time Updates &amp; Tracking</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">Track the progress of invoice funding real time and receive timey updates</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-md-0 " data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/one_stop_solution.svg' %}"></div>

        <p class="whymcredtitle-1">One Stop Solution</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">Complete journey from invoice generation to financing to repayment</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-lg-0 " data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box-1">
        <div class="icon-image"><img src="{% static '/images/portalLogin/Business-Page/off_the_books.svg' %}"></div>

        <p class="whymcredtitle-1">Off-The-Books</p>

        <div class="arrow-line"></div>

        <p class="whymcredtitle-2">MCred’s solution has no impact on debt service capability and ratios</p>
        </div>
        </div>
        </div>
        </div>
</section>




    <!-- ======= Sector Section ======= -->
  <section class="Sectors whyusSection" id="Sectors" style="background-image: url('/static/images/portalLogin/Business-Page/sector-icon/bussi-01.png'); padding: 0 !important;">
        <div class="sectionTitleSize">
        <div class="container " data-aos="fade-up">
        <div class="section-title text-center sectors-title">
        <h2>Sectors</h2>

        <p>We invite SMEs from various sector to register on MCREDs invoice discounting platform, some of the sectors are:</p>
        </div>

        <div class="row" style="border-bottom: 1px solid #444f86;padding-bottom: 25px;padding-top: 25px;">
        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-01.png' %}"></div>

        <div class="sectore-data">
        <h2>RETAIL &amp; E-COMMERCE</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-02.png' %}"></div>

        <div class="sectore-data">
        <h2>FMCG</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-03.png' %}"></div>

        <div class="sectore-data">
        <h2>WAREHOUSING</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-04.png' %}"></div>

        <div class="sectore-data">
        <h2>MANUFACTURING</h2>
        </div>
        </div>
        </div>
        </div>

        <div class="row" style="padding-top: 25px;">
        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-08.png' %}"></div>

        <div class="sectore-data">
        <h2>LOGISTICS</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-05.png' %}"></div>

        <div class="sectore-data">
        <h2>CHEMICAL</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-06.png' %}"></div>

        <div class="sectore-data">
        <h2>PHARMA</h2>
        </div>
        </div>
        </div>

        <div class="col-sm-6 col-md-3">
        <div class="sectore-details">
        <div class="sectore-icon"><img src="{% static '/images/portalLogin/Business-Page/sector-icon/sector-07.png' %}"></div>

        <div class="sectore-data">
        <h2>ESSENTIAL GOODS</h2>
        </div>
        </div>
        </div>
        </div>

        <div class="row" style="padding-top: 40px;">
                                <div class="sectore-data" style="width: 100%;">
                                    <h2 style="text-align: center;">...&amp; More</h2>
                                </div>
                            </div>
        </div>
        </div>
</section>
<!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 col-md-4">
                        <div class="footer-aboutus">
                            <img src="{% static '/images/portalLogin/home/MCRED1.png' %}">
                            <p>
                                403, Peninsula Heights,
                                C D Barfiwala Marg,<br>
                                Juhu Lane,
                                Andheri (W),
                                Mumbai, Pin - 400058<br>
                                Maharashtra
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-1 col-md-1"></div>
                    <div class="col-sm-12 col-lg-7 col-md-7">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 footer-links">
                                <div class="settextfloat">
                                    <h4>Contact Us</h4>
                                    <ul>
                                        <li><a href="#">connect@mcred.com</a></li>
                                        <li><a href="#"> Support - 797-7157-822 </a></li>
                                        <li> <a href="#">Office - 797-7157-822</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-6 footer-links ">
                              <div class="settextfloat">
                                <h4>Customer Service</h4>
                                <ul>
                                  <li><a href="#">Pricing </a></li>
                                  <li><a href="#">Contact</a></li>
                                  <li> <a href="#">Us FAQs</a></li>
                                </ul>
                              </div>
                            </div> -->
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 footer-links ">
                                <div class="settextfloat">
                                    <h4>Need Help?</h4>
                                    <ul>
                                        <li> <a href="{% url 'mcred_privacy_policy' %}">Privacy Policy </a></li>
                                        <li> <a href="{% url 'mcred_terms_conditions' %}">Terms &amp; Conditions </a></li>
                                        <li> <a href="{% url 'mcred_faqs' %}">General FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 footer-links ">
                                <div class="settextfloat">
                                    <h4>Links</h4>
                                    <ul>
                                        <li> <a href="{% url 'mcred_partner' %}">Partners </a></li>
                                        <li> <a href="{% url 'mcred_business' %}">Businesses</a></li>
                                        <li> <a href="{% url 'mcred_investor' %}">Investors</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lastsection">
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 footer-links">
                            <p class="settagfooter">© Copyright Secure. All rights reserved.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 footer-sociel">
                            <ul>
                                <li> <a target="_blank" href="https://www.instagram.com/mcre.d/"><i class="fab fa-instagram"></i></a></li>
                                <li> <a target="_blank" href="https://www.linkedin.com/company/mcred/"><i class="fab fa-linkedin-in"></i></a></li>
                                <li> <a target="_blank" href="https://www.facebook.com/MCRED-102965945034452"><i class="fab fa-facebook-f"></i></a></li>
                                <li> <a target="_blank" href="https://twitter.com/Mcred59369762"><i class="fab fa-twitter"></i></a></li>
                                <li> <a target="_blank" href="https://www.youtube.com/channel/UC33RpFwzAndn3CCJr83jUbw?guided_help_flow=5"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        </div>

                    </div>
                </div>
            </div>
    </div></footer>

  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/css/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/css/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/css/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/css/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/css/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static '/css/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>