body{
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1
}
/* CSS FOR CARD2 */
.card2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    opacity: 1;
    margin-left:50px;
    margin-top:50px;

}

.txt{
    text-align: left;
    font: normal normal normal 13px/22px Open Sans;
    letter-spacing: 0px;
    color: #353535;
    opacity: 1;
}

.card2 .name{
    font: normal normal 600 12px/20px Open Sans;
    letter-spacing: 0.32px;
    color: #353535;
    opacity: 1;
    text-transform:uppercase;
}
.card2 .inp1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    opacity: 1;

}

.txt1{
    text-align: left;
    font: italic normal normal 12px/22px Open Sans;
    letter-spacing: 0px;
    color: #AAAAAA;
    opacity: 1
}

.history .btn-outline-primary{
    border: 2px solid #353535;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal 600 14px/15px Open Sans;
    letter-spacing: 1.6px;
    color: #353535;
    text-transform: uppercase;
    opacity: 1;
    padding:12px;
    margin-left:600px;
    margin-top:7px;
}

.history .btn-outline-primary:hover {
     background-color: transparent;
 }

.history .btn:focus{
    box-shadow:none;
}

.history btn-outline-primary:focus {
    box-shadow: none:
}

.history .btn-outline-primary:active {
    background-color: transparent;
}


.form-check-input:checked {
    background-color: #38CC47;
    border-color: #38CC47;
}

.form-check-input:checked {
    border-color: #CCCCCC;
}

.txt2{
    font: italic normal normal 15px/22px Open Sans;
    letter-spacing: 0.5px;
    opacity: 1;
    margin-left:30px !important;
}

#alert{
    background: #F79421 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    display:none;
    text-align:center;
    height:200px;
    margin-top:160px;
    margin-left:250px;

}

.msg{
    margin-top:50px;
    color:#fff;

}
.home{
    font-weight:bold;
    margin-top:30px;
    background-color:#FFFFFF;
    color:#F79421;
    border:none !important;
    border-radius:20px;
}

