{% extends "Investors/index.html" %}

{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/investor/help.css' %}">
</head>

<div class="help">
  <div class="head1">MCRED INVESTOR &nbsp;<span>></span>&nbsp;HELP AND SUPPORT</div>
  <div class="head2">Frequently Asked Questions</div>
  <div class="row">
    <div class="col-sm-12 col-md-9 accordion" id="accordionExample">
      {% for i in data %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{forloop.counter}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo{{forloop.counter}}" aria-expanded="false" aria-controls="collapseTwo">
            {{i.question}}
          </button>
        </h2>
        <div id="collapseTwo{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{i.answer}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-12 col-md-3 card text-center">
      <div class="card-header" style="margin-left:-13px;margin-right:-13px;">Contact Us</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img class="img2" src="{% static '/images/contact/Layer_x0020_1.svg' %}">
          </div>
          <div class="col-md-10">
            <h6>support@mcred.co</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img class="img1" src="{% static '/images/contact/call.svg' %}">
          </div>
          <div class="col-md-10">
            <h6>1800-123-456</h6>
          </div>
        </div>
        <!-- <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><img class="img2" src="{% static '/images/contact/Layer_x0020_1.svg' %}"></li>
          <li class="list-group-item">
            <h6>support@mcred.co</h6>
          </li>
        </ul> -->
        <!-- <ul class="list-group list-group-horizontal">
          <li class="list-group-item call"><img class="img1" src="{% static '/images/contact/call.svg' %}"></li>
          <li class="list-group-item">
            <h6>1800-123-456</h6>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}