<!-----------------------------PAGE CONTENT------------------------------>
{% extends "business_dashboard/registration.html" %}

{% block content %}
        <head>
            {% load static %}

        <link rel="stylesheet"  href="{% static '/css/business_dashboard/financials.css' %}">
        <script src="{% static '/javascript/financials.js' %}"></script>
        </head>
        <div class="card col-sm-12 col-md-7">
            <div class="main">
            <div class="row row1" >
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark col-sm-4  col-md-4 " data-bs-toggle="modal" data-bs-target="#exampleModal">ADD NEW FINANCIAL STATEMENT</button>
                <h6 class="col-md-6">AUDITED & PROVISIONAL FINANCIAL STATEMENTS</h6>
            </div>

            <!-- Modal FOR UploadING Financial Statement-->
            <div class="modal fade modal1" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div><h6 class="one">REGISTRATION &nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#F79421" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>&nbsp;&nbsp;FINANCIALS</h6>
                        <h6 class="cls1">Upload Financial Statement</h6></div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><br>

                    </div>
                    <div></div>
                    <div class="modal-body" >
                        <form method="post" enctype="multipart/form-data" action="{% url 'financials' %}">
                            {% csrf_token %}
                        <div class="input-group mb-3">
                              <label for="fromdate" class="form-label name ">From Date</label>
                              <input type="date" id="fromdate" class="form-control disableFuturedate" placeholder="DD/MM/YYYY" aria-label="fromdate" aria-describedby="basic-addon1" style="margin-left:80px;width:10px;" name="fromdate">
                        </div>
                        <div class="input-group mb-3">
                              <label for="todate" class="form-label name ">To Date</label>
                              <input type="date" id="todate" class="form-control disableFuturedate" placeholder="DD/MM/YYYY" aria-label="todate" aria-describedby="basic-addon1" style="margin-left:100px;width:10px;" name="todate">
                        </div>
                        <div class="input-group mb-3">
                            <label for="status" class="form-label name">Select Status</label>
                            <select class="form-select" id="status" aria-label="Default select example" style="margin-left:62px;" name="status">
                              <option selected><span>Select Status</span></option>
                              <option value="Audited">Audited</option>
                              <option value="Un Audited">Unaudited</option>
                              <option value="Provisional">Provisional</option>
                            </select>
                        </div>
                         <div class="mb-3">
                            <label for="formFile" class="form-label name" >Upload Statement</label>
                            <input class="form-control" type="file" id="formFile" style="margin-left:150px;width:315px;margin-top:-35px;" name="uploaded_file">
                        </div>
                        <div style="margin-top:50px;margin-bottom:30px;"><button type="submit" class="btn btn-primary addbtn" style="margin-left:170px">UPLOAD STATEMENT</button></div>
                        </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="row ">
                <div class="table-responsive">
                    <table class="col-md-10 table tbl1" style="border-collapse:collapse;" >
                        <thead class="thd" >
                            <tr >
                                <th style="border-bottom:none;">From Date</th>
                                <th style="border-bottom:none;">To Date</th>
                                <th style="border-bottom:none;">Status</th>
                                <th style="border-bottom:none;">Uploaded PDF</th>
                            </tr>
                        </thead>
                            <tbody class="tbdy" >
                            {% for i in financials %}
                            <tr>
                                <td >{{ i.from_date }}</td>
                                <td >{{ i.To_date }}</td>
                                <td >{{ i.status }}</td>
                                <td><a href="{{ i.input_file.url }}" download><i class="far fa-file-pdf"></i></a></td>

                            </tr>
                            {% endfor %}

                            </tbody>
                    </table>
                </div>
            </div>



            <!--    CODE FOR TERMS AND CONDITIONS-->
            <div class="row" style="margin-top:30px;margin-left:40px;" >
<!--                 <div class="form-check">-->
<!--                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
<!--                      <label class="form-check-label" for="flexCheckDefault">-->
<!--                        I confirm that the information I have supplied is correct and best to my knowledge.-->
<!--                          I give my consent to MCred to verify this information, and agree to their <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy.</a>-->
<!--                      </label>-->
<!--                 </div>-->
            </div>
<!--            <div class="row history" style="margin-top:20px;">-->
<!--                <div class="col-md-8" style="margin-left:40px;">-->
<!--                    <i class="fas fa-history" style="width:15px;height:15px;"></i>-->
<!--                    <span >Last updated at 16:23 on 22/10/2020</span>-->
<!--                </div>-->
<!--                <div class="col-2"><button type="button" class="btn btn-outline-primary"  >Save Data</button></div>-->
<!--            </div>-->
            </div>
        </div>

        {% endblock content %}