<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>approved form</title>
</head>
<body>
<form method="post" action="{% url 'fascilate_amount' pk %}" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <b>ARE YOU SURE YOU WANT TO APPROVED THIS BUSINESS?</b>

                                        </div>


                                    <button type="submit" class="btn btn-primary">YES</button>

                                </form>
                                <button onclick="location.href='{% url 'business' %}' " class="btn btn-primary">NO</button>
</body>
</html>