{% extends "InvestorDashboards/index2.html" %}

        {% block content %}
        <head>
            {% load static %}
            <link rel="stylesheet"  href="{% static '/css/investor_dashboard/businessdetail.css' %}">
            <script src="{% static '/javascript/currentdeals2.js' %}"></script>
        </head>
        <nav id="sidebar-businessdetail">
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'business_detail' business_id %}">Business Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'bank_detail' %}">Bank Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'gst_detail' %}">GST Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'customer_detail' %}">Customers Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'supplier_detail' %}">Suppliers Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'financial_detail' %}">Financials Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'shareholding_detail' %}">Shareholding Details</a></div></div>
            <div class="single active1"><img class="img-size"><div class="text-size"><a href="{% url 'debt_profile' %}">Debt Profile</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'analysis_report' %}">Analysis Report</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'credit_rating' %}">Credit Rating Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'director_list' %}">List of Directors</a></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'KYC_detail' %}">KYC Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'AS26_detail' %}">AS 26 Details</a></div></div>
            <div class="single"><img class="img-size"><div class="text-size"><a href="{% url 'snapshot' %}">Snap shots</a></div></div>
        </nav>
        <div class = "scroll">
            <div class="managefunds">
                <div class="container-fluid">
                    <div class="row" style="margin-top:-770px;margin-left: 220px;overflow-y: scroll; height:620px; width:1160px;">
                        <b>Debt profiile</b>
                     <div class="row">
                        <div class="col-sm-12 col-md-12 card" id="card3" style="margin-top:40px;margin-left:0px;">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary btn-lg" style="float:right;font-size:15px;" data-toggle="modal" data-target="#myModal">ADD DETAILS</button>
                                <div class="table-responsive">
                                    <table class="table" style="border-collapse:collapse">
                                        <thead class="headt" >
                                            <tr>
                                                <th scope="col" class="date" style="font-size:12px; text-align:center;"><b>S.NO.</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>NAME OF THE LENDER</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>TYPE OF LOAN</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>AMOUNT OF LOAN (Cr.)</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>OUTSTANDING AMOUNT</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>RATE OF INTEREST</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>SANCTION LETTER</b></th>
                                                <th scope="col" style="font-size:12px; text-align:center;"><b>ACTION</b></th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in objs %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{i.name_of_lender}}</td>
                                            <td>{{i.type_of_loan}}</td>
                                            <td>{{i.amount_of_loan}}</td>
                                            <td>{{i.outstanding_amount}}</td>
                                            <td>{{i.rate_of_interest}}</td>
                                            {% if i.input_file %}
                                                <td><a href="{{i.input_file.url}}" download><i class="fas fa-file-pdf fa-2x " style="color:red;"></i></a></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            <td><a  href = "{% url 'remove_debt_profile' i.id %}" class="btn btn-success">Remove</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                    </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <div class="col-sm-12 col-md-12 card" id="card3" style="margin-top:40px;margin-left:0px;">-->
<!--                            <div class="card-body">-->
<!--                                <h6 style="float:left;">COMMENTS DETAIL</h6>-->
<!--&lt;!&ndash;                                <button type="button" class="btn btn-primary btn-lg" style="float:right;font-size:15px;" data-toggle="modal" data-target="#myModal7">ADD DETAILS</button>&ndash;&gt;-->
<!--                                <div class="table-responsive">-->
<!--                                    <table class="table" style="border-collapse:collapse">-->
<!--                                        <thead class="headt" >-->
<!--                                            <tr>-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:15px;">SR No.</th>&ndash;&gt;-->
<!--                                                <th scope="col" style="font-size:12px; text-align:center;"><b>S.NO</b></th>-->
<!--                                                <th scope="col" style="font-size:12px; text-align:center;"><b>USERNAME</b></th>-->
<!--                                                <th scope="col" style="font-size:12px; text-align:center;"><b>COMMENT</b></th>-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:12px; text-align:center;"><b>AMOUNT</b></th>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:12px; text-align:center;"><b>DATE</b></th>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:12px; text-align:center;"><b>TO DATE</b></th>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:12px; text-align:center;"><b>FILE LINK</b></th>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <th scope="col" style="font-size:12px; text-align:center;"><b>ACTION</b></th>&ndash;&gt;-->
<!--                                            </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    {% for i in comments_obj %}-->
<!--                                        <tr>-->
<!--                                            <td style="text-align:center;">{{forloop.counter}}</td>-->
<!--                                            <td style="text-align:center;">{{i.username}}</td>-->
<!--                                            <td style="text-align:center;">{{i.comment}}</td>-->
<!--&lt;!&ndash;                                            <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td><a href="{{i.input_file.url}}" download><i class="fas fa-file-pdf fa-2x " style="color:red;"></i></a></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td><a class="btn btn-success">Remove</a></td>&ndash;&gt;-->
<!--                                        </tr>-->
<!--                                    {% endfor %}-->

<!--&lt;!&ndash;&lt;!&ndash;                                    |slice:":10" &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                    {% for i in objlist %}&ndash;&gt;-->

<!--&lt;!&ndash;                                            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{forloop.counter}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{i.bank_name}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{i.AC_No}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{i.AC_Type}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{i.from_date}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{{i.To_date}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td><a href="{{i.input_file.url}}" download><i class="fas fa-file-pdf fa-2x " style="color:red;"></i></a></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <td>{% include 'InvestorDashboards/remove_bankdetail.html' with objid=i.id%}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                    {% endfor %}&ndash;&gt;-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                        <div class="row">
                        <div class="col-sm-12 col-md-12 card" id="card3" style="margin-top:40px;margin-left:0px;">
                            <div class="card-body">
                            {% for i in comments_obj %}
                                <h6>{{i.comment}}</h6>
                                <h6><i style="font-size:15px; color:grey;">commented by:  </i>{{i.username}}&nbsp;&nbsp;&nbsp;<i style="font-size:15px; color:grey;">date:  </i>{{i.created_date| date:"F d Y"}}</h6><br><br>
                             {% endfor %}

                            </div>
                        </div>
                    </div>
                            <div class="row">
                                <div class="card-body">
                                    <div class="col-xs-4">
                                        <form method="post" action="{%url 'bankdetail_comment' %}" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <h6 style="font-size: 15px;">COMMENTS:</h6>
<!--                                            <input class="form-control" id="ex1" type="text" size=45 style="height:50px"/>-->
                                            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" name="comment" style="width:1050px;"></textarea>
                                            <input type="hidden" value="debtprofiledetail" id="type" name="type"><br>
                                            <button   type="submit" class="btn btn-primary">SAVE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

            </div>
            <!---Modal form-------->
                        <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 class="modal-title">DEBT PROFILE</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form method="post" action="" enctype="multipart/form-data" >
                                    {% csrf_token %}


                                    <div class="form-group">
                                        <label for="nameoflender">Name of Lender:</label>
                                        <input type="text" class="form-control" id="nameoflender" placeholder="nameoflender" name="nameoflender">

                                    </div>
                                    <div class="form-group">
                                        <label for="typeofloan">Type of Loan:</label>
                                        <input type="text" class="form-control" id="typeofloan" placeholder="typeofloan" name="typeofloan">

                                    </div>
                                    <div class="form-group">
                                        <label for="amountofloan">Amount of Loan:</label>
                                        <input type="text" class="form-control" id="amountofloan" placeholder="amountofloan" name="amountofloan">
                                    </div>
                                    <div class="form-group">
                                        <label for="outstandingamount">Outstanding Amount:</label>
                                        <input type="text" class="form-control" id="outstandingamount" placeholder="outstandingamount" name="outstandingamount">
                                    </div>
                                    <div class="form-group">
                                        <label for="rateofinterest">Rate of Interest:</label>
                                        <input type="text" class="form-control" id="rateofinterest" placeholder="rateofinterest" name="rateofinterest">
                                    </div>

                                    <div class="form-group">
                                      <label for="file">FILE UPLOAD:</label>
                                      <input type="file" class="form-control" id="file" placeholder="file" name="file" accept=".pdf,.jpeg,.png,.jpg">
                                    </div>

<!--                                    </div>-->

                                    <button  href = "{%url 'debt_profile' %}" type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            </div>
                        </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        </div>
                    </div>

                    </div>
                    </div>
        </div>


        <script type="text/javascript">
            $("#outstandingamount").change(function () {
            var tlimit = document.getElementById("amountofloan").value;
            var olimit = document.getElementById("outstandingamount").value;
            if (olimit > tlimit ){
                    alert("Outstanding amount  should be less than loan Amount ");
                    document.getElementById("outstandingamount").value = "";

                }
            });
        </script>
{% endblock content %}