<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{% static '/css/invoice_detail.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

    <div class="center">
        <div class="container">
            <div class="heading">
                <label>Transaction Details</label>
            </div>
            <hr class="line">
            <div class="div1">
                <label class="class1">Invoice ID</label>
                <label class="class2">Transaction ID</label>
                <label class="class3">Date</label>
            </div>
            <div class="ans1">
                <label class="class1">IN12QWA543</label>
                <label class="class2">TXN76AHW13HC4</label>
                <label class="class3">11 November, 2020</label>
            </div>
            <hr class="line">
            <div class="div2">
                <label class="class1">Entity</label>
                <label class="class2">Amount</label>
                <label class="class3">Discount</label>
            </div>
            <div class="ans2">
                <label class="class1">Oyo Hotels & Homes Pvt<br/> Ltd</label>
                <label class="class2">₹ 1,52,320</label>
                <label class="class3">12.5 %</label>
            </div>
        </div>
    </div>

</body>
</html>